.password-generator {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2.2em;
  margin-bottom: 30px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

label {
  font-size: 1.2em;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.generated-password {
  margin-top: 30px;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1em;
  resize: none;
}

::placeholder {
  color: #999;
}
